@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');



:root{
    font-size: 16px;
}

@media (max-width: 60em){
    :root{
        font-size: 16px;
    }

    .main-book-style{
        display: none;
    }

    .main-navbar > li > a{
        background-color: black;
        visibility: hidden;
    }

    .logo{

        width: 50%;
    }

    .mobile-invis {
        display: none;

    }

    .multiple-books {
        margin-right: auto;
        margin-left: auto;

    }
}


li > a:link { 
    text-decoration: none;
    color: #04604b; 
}
a:visited { 
    text-decoration: none;
    color: #04604b;
}
a:hover { 
    text-decoration: none; 
    color: #80afa4;
}
a:active { 
    text-decoration: none; 
    color: #80afa4;
}

.font-style{
    text-decoration: none;
    color: #04604b;
    font-family: "Kohinoor Bangla";
    font-weight: 500;
    font-size: 1em;
}

.logo-section{
    background-color: cyan;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    height: 8.5rem;
}

.logo{
    /*background-color: white;*/
    background-color: greenyellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 18%;
    position: relative;
    bottom: 4rem;
    margin-bottom: 0;
}


.main-navbar{
    display: flex;
    /*background-color: white;*/
    background-color: orange;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    width: 100%;

}

.main-navbar > li > a{
    display: block;
    margin-top: 3em;
    background-color: hotpink;
    font-size: 1.2rem;
}

.main-navbar > li + li {
    margin-left: 6rem;
}

.main-navbar > :nth-last-child(3){
    margin-left: auto;
}

.main-navbar > :first-child{
    margin-left: 6rem;
}

.main-navbar > :last-child{
    margin-right: 6rem;
}

.secondary-navbar{
    display: flex;
    height: 3rem;
    width: 10rem;
    /*background-color: white;*/
    background-color: royalblue;
    position: relative;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 1.7em;
    margin-left: auto;
    background-color: white;
    
}

.secondary-navbar > li + li {
    margin-left: 1.5rem;
    
}

.secondary-navbar > :first-child{
    margin-left: auto;
}

.secondary-navbar > :last-child{
    margin-right: auto;
}

/*this is for the mobile version?*/
.dropdown-list {
   /* display: none;*/
    position: absolute;
    
    min-width: 25rem;
    background-color: white;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    transform: scale(0);
    display: flex;
    justify-content: space-between;

}

.dropdown-list > div > li{
    font-size: 1.1rem;
    margin: 1.5rem 1rem 1.5rem 1rem;

}

.dropdown-trigger:hover >.dropdown-list{
    transform: scale(1);
}


/*  for hamburger, hides everything expect first child(in example this is the home and hamburger)*/
.responsive > ul > li:not(:first-child) {
    display:none
}

.storefront {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}


.line-divider{
    height: 4.5rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    position: relative;
    top: 4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.double-heading{
    display: flex;
    flex-direction: row;
}

/*.white-border{
    background-color: white;
    max-width: 15%;
    height: 100%;
}

.border{
    display: flex;
    justify-content: space-between;
}*/

.all-books{
    display: flex;
    background-color: pink;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-items: center;
    max-width: 100%;
}

.full-list{
    margin-right: auto;
    margin-left: auto;
}

.first-multiple-books{
    margin-left: auto;
}

.second-multiple-books{
    margin-right: auto;
}

.book-list{
margin-right: auto;
}

.multiple-books > div{
    display: flex;
    background-color: aquamarine;
    max-width: fit-content;
}

.main-book-style{
    max-width: fit-content;
    text-align: center;
}
.first-main-book{
    margin-right: auto;
}

.second-main-book{
    margin-left: auto;
}

.main-book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.main-book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #656565;
}

.main-book-style > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.first-book-style{
    margin-right: 2rem;
}

.second-book-style{
    margin-left: 2rem;
}

.book-style{
    background-color: plum;
    text-align: center;
}

.book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    color: #222222;
    
}

.book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    margin-top: 0.6rem;
    color: #222222;
}

.book-style > a >img {
    max-width: 6.5rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > div > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}


.events{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.events > :first-child{
    margin-right: 9rem;
}

.events > :last-child{
    margin-left: 9rem;
}

.footer{
    height: 15rem;
    background-color: #C1D8D3;
    margin-top: 3rem;
    box-shadow: inset 0 0.3rem 0.3rem #93BAB1;
    max-width: 100%;
}

.footer-nav{
    display: flex;
    justify-content: center;
    
}

.footer-nav > ul >li + li{
    margin-top: 1rem;
}

.leftnav{
    text-align: left;
    margin-top: 2rem;
    margin-right: 10rem;
}

.rightnav{
    text-align: right;
    margin-top: 2rem;
    margin-left: 10rem;
}



.footer-divider{
    height: 2.5rem;
    box-shadow: 0 0.3rem 0.3rem #B6D1CB;
    margin-left: auto;
    margin-right: auto;
}

.footer-heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: #C1D8D3;
    position: relative;
    top: 2rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.media-icons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.facebook{
    width: 3rem;
}

.instagram{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}

.email{
    width: 2.5rem;
    margin-top: 0.2rem;
}

.button {
    display: inline-flex;
    width: 6rem;
    height: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    cursor: pointer;
}

.button:hover{
filter:brightness(85%);

}