@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');



:root{
    font-size: 16px;
}




li > a:link { 
    text-decoration: none;
    color: #04604b; 
}
a:visited { 
    text-decoration: none;
    color: #04604b;
}
a:hover { 
    text-decoration: none; 
    color: #80afa4;
}
a:active { 
    text-decoration: none; 
    color: #80afa4;
}

.font-style{
    text-decoration: none;
    color: #04604b;
    font-family: "Kohinoor Bangla";
    font-weight: 500;
    font-size: 1em;
}

.button-style-dark:hover{
        text-decoration: none; 
        color: #E7EEEA;
}

.logo-section{
    background-color: cyan;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    height: 8.5rem;
    /*width: 100%;*/
}

.logo{
    /*background-color: white;*/
    background-color: greenyellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 18%;
    position: relative;
    bottom: 4rem;
    margin-bottom: 0;
}


.main-navbar{
    display: flex;
    flex-wrap: wrap;
    /*background-color: white;*/
    background-color: orange;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    /*width: 100%;*/

}



.main-navbar > li > a{
    display: block;
    margin-top: 3em;
    /*background-color: hotpink;*/
    font-size: 1.2rem;
    height: fit-content;
}

.main-navbar > li + li {
    margin-left: 6rem;
}

.main-navbar > :nth-last-child(3){
    margin-left: auto;
}

.main-navbar > :first-child{
    margin-left: 6rem;
}

.main-navbar > :last-child{
    margin-right: 6rem;
}

.secondary-navbar{
    display: flex;
    height: 2rem;
    width: 10rem;
    /*background-color: white;*/
    background-color: royalblue;
    position: relative;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 1.7rem;
    margin-left: auto;
    background-color: white;
    
}

.secondary-navbar > li + li {
    margin-left: 1.5rem;
    background-color: red;
    
}

.secondary-navbar > :first-child{
    margin-left: auto;
}

.secondary-navbar > :last-child{
    margin-right: auto;
}

/*this is for the mobile version?*/
.dropdown-list {
   /* display: none;*/
    position: absolute;
    
    min-width: 25rem;
    background-color: white;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    transform: scale(0);
    display: flex;
    justify-content: space-between;

}

.dropdown-list > div > li{
    font-size: 1.1rem;
    margin: 1.5rem 1rem 1.5rem 1rem;

}

.dropdown-trigger:hover >.dropdown-list{
    transform: scale(1);
}


/*  for hamburger, hides everything expect first child(in example this is the home and hamburger)*/
.responsive > ul > li:not(:first-child) {
    display:none
}

/*------------HOME PAGE------------*/

.storefront {
    display: block;
    width: 50vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.3rem 0.3rem  rgb(212, 212, 212);
}


.line-divider{
    height: 4.5rem;
    box-shadow: 0 0.5rem 0.3rem -0.3rem #E7EEEA;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    position: relative;
    top: 4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.double-heading{
    display: flex;
    flex-direction: row;
}

.all-books{
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-items: center;
    max-width: 100%;
}



.first-multiple-books{
    margin-left: auto;
}

.second-multiple-books{
    margin-right: auto;
}



.multiple-books > div{
    display: flex;
    background-color: aquamarine;
    max-width: fit-content;
}

.main-book-style{
    max-width: fit-content;
    text-align: center;
}
.first-main-book{
    margin-right: auto;
}

.second-main-book{
    margin-left: auto;
}

.main-book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.main-book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #656565;
}

.main-book-style > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.first-book-style{
    margin-right: 2rem;
}

.second-book-style{
    margin-left: 2rem;
}

.book-style{
    background-color: plum;
    text-align: center;
}

.book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    color: #222222;
    
}

.book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    margin-top: 0.6rem;
    color: #222222;
}

.book-style > a >img {
    max-width: 6.5rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > div > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}


.events{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.events > :first-child{
    margin-right: 9rem;
}

.events > :last-child{
    margin-left: 9rem;
}

/*------------ALL LISTINGS PAGE------------*/

.full-list{
    margin-right: auto;
    margin-left: auto;
}

.book-list{
    margin-right: auto;
    margin-left: auto;
}

.book-list > div{
    margin-bottom: 4rem;
}

.book-list > div > article + article{
    margin-left: 2rem;
}

.book-list > div > .book-style > div > :last-child{
    background-color: #CADED9;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    font-size: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #B0CDC5;
    box-shadow: 0 0.1rem 0.3rem #E7EEEA;
}
.book-style > div{
    display: flex;
    justify-content: space-between;
}

.list-nav{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.list-nav-style{
    text-decoration: underline;
    font-size: 1rem;
    color: #04604b;
    font-family: "Kohinoor Bangla";
}

.breadcrumbs{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.list-pages {
    margin-left: 17rem;
    margin-right: 24rem;
}

.filter{
    margin-right: auto;
}

.list-nav-bottom{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgoldenrod;
}

.list-row{
   
}


/*------------INDIVIDUAL LISTINGS PAGE------------*/

.individual-breadcrumbs{
    margin-top: 3rem;
}

.book-details{
    display: flex;
    justify-content: center;
    background-color: forestgreen;
}

.main-image{
    max-width: 18rem;
}

.book-text{
    background-color: beige;
    max-width: 38%;
    margin-left: 4rem;
    margin-right: 4rem
}

.book-text > h1{
    font-size: 1.9rem;
    color: #222222;
    font-family: "Kohinoor Bangla";
    font-weight: 500;
}

.book-text > h3{
    font-size: 1.7rem;
    color: #A7A7A7;
    margin-bottom: 3rem;
    font-family: 'PT Serif', serif;
}

.book-text > p{
    font-size: 1.2rem;
    color: #333333;
    font-family: 'PT Serif', serif;
    line-height: 1.5rem;
}

.button-section{
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0.5rem 2.1rem 0.5rem;
    height: fit-content;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    margin-top: auto;
    margin-bottom: auto;
    
}

.button-section > p{
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1.8rem;
    text-align: center;
    font-family: "Kohinoor Bangla";
}

.button-section > :nth-child(2){
    margin-bottom: 1rem;

}

.button-style-light{
    background-color: #C4DAD5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #AECCC4;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #04604B;
}

.button-style-dark{
    background-color: #80AFA4;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #7CACA1;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.location-availability{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.location-availability > div{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;

}

.location-availability > div >:last-child{
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
    font-family: 'PT Serif', serif;

}

.location-availability >:last-child >:last-child{
    color: #A7A7A7;
}

.available-image{
    max-width: 1.2rem;
    margin-right: 0.8rem;
}

/*---------------CART---------------*/

.cart{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.all-cart-items{
    width: 32rem;
    margin-left: auto;
    margin-right: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.cart-listing{
    display: flex;
    max-width: fit-content;
    margin: 2rem auto 2rem auto;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #EFF4F2;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.cart-info{
    margin: 0.5rem 11rem 0.5rem 0.5rem;
}

.cart-info > h1{
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #222222;
}

.cart-info > h3{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #A7A7A7;
}


.cart-listing > :last-child{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    flex-shrink: 1;

}

.cart-listing > div > a > img{
    width: 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.cart-listing > div > p{
    font-family: "Kohinoor Bangla";
    font-size: 1rem;
    color: #A7A7A7;
}

.cart-image{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    max-width: 6rem;
}

.item-amount{
    display: flex;
    margin-top: 5rem;
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #04604b;
    border-style: solid;
    border-width: 0.07rem;
    border-color: #04604b;
    width: fit-content;
}

.item-amount > div{
    border-style: none solid none solid;
    border-width: 0.07rem;
    border-color: #04604b;
    padding: 0.2rem 0.6em 0.2rem 0.6rem;
}

.item-amount > a{
    text-decoration: none;
    padding: 0.2rem 0.6em 0.2rem 0.6rem;
}

.cart-buttons{
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0.5rem 2.1rem 0.5rem;
    height: fit-content;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    width: 15rem;
    margin-right: auto;
}

.cart-buttons > a{
    margin: 1rem 1rem 0rem 1rem;
}

.cart-buttons >:nth-child(2){
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-style: none none solid none;
    border-width: 0.1rem;
    border-color: #EFF4F2;
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #04604b;
}

/*--------------CHECKOUT COMPLETE--------------*/

.logo-section-no-nav{
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    height: 4.5rem;
    margin-bottom: 4rem;
}

.logo-no-nav{
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    position: relative;
    top: 2rem;

}

.order-summary{
    width: 32rem;
    margin: 4rem auto 7rem auto;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.bought-items{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1.2rem auto 1.2rem auto;
}

.bought-items > div > h1{
    font-size: 0.8rem;
    text-align: right;
}

.bought-items > div > h3{
    font-size: 0.8rem;
    text-align: right;
}

.bought-items > div > p{
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    color: #222222;
    margin-top: 5.5rem;
    text-align: right;
}

.bought-items > div{
    margin: 1rem auto 1rem 8rem;
    min-width: 8rem;
]
}

.bought-items > img {
    margin: 1rem 0rem 1rem auto;
}

.price-summary{
    border-style: solid none none none;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    padding: 1rem 10rem 1rem 10rem;
}

.small-divider{
    height: 2rem;
}



.small-heading{
    text-align: center;
    font-size: 1rem;
    background-color: white;
    position: relative;
    top: 1.5rem;
}

/*------------FOOTER------------*/

.footer{
    height: 15rem;
    background-color: #C1D8D3;
    margin-top: 3rem;
    box-shadow: inset 0 0.3rem 0.3rem #93BAB1;
    max-width: 100%;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.footer-nav > ul >li + li{
    margin-top: 1rem;
}

.leftnav{
    text-align: left;
    margin-top: 2rem;
    margin-right: 10rem;
}

.rightnav{
    text-align: right;
    margin-top: 2rem;
    margin-left: 10rem;
}



.footer-divider{
    height: 2.5rem;
    box-shadow: 0 0.3rem 0.3rem #B6D1CB;
    margin-left: auto;
    margin-right: auto;
}

.footer-heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: #C1D8D3;
    position: relative;
    top: 2rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.media-icons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.facebook{
    width: 3rem;
}

.instagram{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}

.email{
    width: 2.5rem;
    margin-top: 0.2rem;
}

.button {
    display: inline-flex;
    width: 6rem;
    height: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    cursor: pointer;
}

.button:hover{
filter:brightness(85%);

}

/*----------------------MEDIA QUERIES----------------------*/

@media (min-width: 60em){
    
    .mobile-visible{
        display: none;
    }

}

@media (max-width: 60em){
    :root{
        font-size: 16px;

    }

    body{
        background-color: palegoldenrod;
        
    }

    .mobile-invis {
        display: none;

    }

    .line-divider{
        height: 4.5rem;
        box-shadow: 0 0.5rem 0.3rem -0.3rem #E7EEEA;
        max-width: 100vw;
    }

    .secondary-navbar{
        position: relative;
        height: 0.1rem;
        top: 0.1rem;
    }
    

    .logo-section{
        box-shadow: none;
        height: 6.5rem;
    }

    .main-book-style{
        display: none;
    }

    .main-navbar{
        height: 5rem;
        /*display: none;*/
    }

    .logo{
        min-width: 10rem;
        bottom: 3rem;
    }

    .logo-no-nav{
        min-width: 10rem;
    }

    .secondary-navbar > :first-child > a{
        background-color: red;
        position: absolute;
        right: 12.5rem;
        bottom: 2.5rem;
        
    }

    .secondary-navbar > :nth-child(2){
        background-color: purple;
        position: absolute;
        left: 9.5rem;
        bottom: 2.5rem;
    }

    .secondary-navbar > :nth-child(4){
        background-color: purple;
        position: absolute;
        left: 12.5rem;
        bottom: 2.5rem;
    }

    .multiple-books {
        margin-right: auto;
        margin-left: auto;

    }

    .list-pages{
        visibility: hidden;
    }

    .button-section{
        display: none;
    }

    .leftnav{
        margin-right: 2rem;
        background-color: cyan;
    }
    
    .rightnav{
        margin-left: 2rem;
        background-color: aquamarine;
    }

    .book-details{
        display: flex;
        justify-content: center;
        background-color: forestgreen;
    }

    .main-image{
        width: 40vw;
    }

    .book-text > h1{
        background-color: red;
        font-size: 0.1em;
    }

    .book-text > h3{
        background-color: blueviolet;
        font-size: 0.1em;
    }

    .book-text > p{
        position: absolute;
        top: 50rem;
        right: 5rem;
        width: 80vw;

    }

    .availability{
        margin-top: 30rem;
    }

    .button-section{
        position: absolute;
        top: 35rem;
        right: 2rem;
        width: 30vw;

    }

    /*CART*/

    .cart-image{
        margin: 0.8rem .2rem 0.8em 0.2rem;
        max-width: 6rem;
    }

    .cart-info{
        background-color: paleturquoise;
        margin: 0.5rem 3rem 0.5rem 0.5rem;
    }

    .all-cart-items{
        width: 22rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }
        
    .cart-listing{
        width: fit-content;
        margin: 2rem auto 2rem auto;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }

    .order-summary{
        background-color: pink;
        width: 16rem;
        margin: 4rem auto 7rem auto;
        border-style: solid;
        border-width: 0.1rem;
        border-color: #DDE9E6;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }

    .cart-buttons{
        margin-left: auto;
    }

    .bought-items > div{
        margin-left: 0.1rem;
    }
    
    .price-summary{
        padding: 1rem 1rem 1rem 1rem;
    }

}