@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');



:root{
    font-size: 16px;
}



li > a:link { 
    text-decoration: none;
    color: #04604b; 
}
a:visited { 
    text-decoration: none;
    color: #04604b;
}
a:hover { 
    text-decoration: none; 
    color: #80afa4;
}
a:active { 
    text-decoration: none; 
    color: #80afa4;
}


.font-style{
    text-decoration: none;
    color: #04604b;
    font-family: "Kohinoor Bangla";
    font-weight: 500;
    font-size: 1em;
}

.heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: white;
    position: relative;
    top: 4rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.border{
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
}


.button-style-dark:hover{
        text-decoration: none; 
        color: #E7EEEA;
}

.search-bar{
    position: absolute;
    background-color: white;
    display: none;
    width: 100vw;
    height: 10rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    z-index: 99;
    flex-direction: row;
}

.search-bar > input{
    width: 40%;
    margin: auto 5% 0.5rem 5%;
    height: 3rem;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    color: #04604b;
    font-family: "Kohinoor Bangla";
}

.search-bar > :first-child{
    width: 3%;
    margin: auto auto 0.5rem 20%;
}

.search-bar > :last-child{
    width: 2%;
    margin: auto 20% 0.5rem auto;
}

.search-bar > input > ::placeholder{
    font-size: 2rem;
    text-align: center;
    color: #04604b;
    font-family: "Kohinoor Bangla";
}


.logo-section{

    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    height: 8.5rem;
    /*width: 100%;*/
}

.logo{
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 18%;
    position: relative;
    bottom: 4rem;
    margin-bottom: 0;
}


.main-navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    /*width: 100%;*/

}



.main-navbar > li > a{
    display: block;
    margin-top: 3em;
    font-size: 1.2rem;
    height: fit-content;
}

.main-navbar > li + li {
    margin-left: 6rem;
}

.main-navbar > :nth-last-child(3){
    margin-left: auto;
}

.main-navbar > :first-child{
    margin-left: 6rem;
}

.main-navbar > :last-child{
    margin-right: 6rem;
}

.secondary-navbar{
    display: flex;
    height: 2rem;
    width: 10rem;
    background-color: white;
    position: relative;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 1.7rem;
    margin-left: auto;
    background-color: white;
    
}

.secondary-navbar > li + li {
    margin-left: 1.5rem;
    
}

.secondary-navbar > :first-child{
    margin-left: auto;
}

.secondary-navbar > :last-child{
    margin-right: auto;
}

.dropdown-list {
    position: absolute;  
    min-width: 25rem;
    background-color: white;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    transform: scale(0);
    display: flex;
    justify-content: space-between;

}

.dropdown-list > div > li{
    font-size: 1.1rem;
    margin: 1.5rem 1rem 1.5rem 1rem;

}

.dropdown-trigger:hover >.dropdown-list{
    transform: scale(1);
}

.cart-dropdown{
    position: absolute;  
    width: 23rem;
    background-color: white;
    padding: 0rem 0rem 0.8rem 0.2rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    transform: scale(0);
    height: 12rem;
    z-index: 99;
}

.cart-dropdown > div > img{
    margin: 0.8rem .2rem 0.8em 0.2rem;
    width: 25%;
}

.cart-dropdown > div >:nth-child(2){
    margin: 0.5rem 3rem 0.5rem 0.5rem;
}

.dropdown-buttons{
    background-color: white;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    height: fit-content;
    width: 100%;
    position: relative;
    bottom: 2rem;
    right: 0.2rem;
}

.dropdown-buttons > :first-child{
    background-color: #C4DAD5;
    font-size: 1rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    border-color: #AECCC4;
    border-radius: 0.2rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #04604B;
    height: fit-content;
    margin: 0.4rem 0.1rem 0.3rem auto;
}

.dropdown-buttons > :last-child{
    background-color: #80AFA4;
    font-size: 1rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-color: #7CACA1;
    border-radius: 0.2rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    height: fit-content;
    margin: 0.3rem auto 0.3rem 0.1rem;
}


.dropdown-trigger:hover >.cart-dropdown{
    transform: scale(1);
}



.mobile-menu{
    flex-direction: column;
    display: none;
    position: fixed;
    right: 0rem;
    left: 0rem;
    top: 6.5rem;
    background-color: white;
    width: 100vw;
    height: 90vh;
    z-index: 100;
    /*transform: translateX(-100%);
    transition: transform 0.3s;*/
}


.mobile-menu > li > div > h2{
    margin-left: 10%;
}

.mobile-menu > :first-child > div > h2{
    margin-left: 90%;
}

.menuVisible{
    transform: translateX(0);
}

/*------------HOME PAGE------------*/

.storefront {
    display: block;
    width: 50vw;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.3rem 0.3rem  rgb(212, 212, 212);
}


.line-divider{
    height: 4.5rem;
    box-shadow: 0 0.5rem 0.3rem -0.3rem #E7EEEA;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}


.double-heading{
    display: flex;
    flex-direction: row;
}

.all-books{
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-items: center;
    max-width: 100%;
}



.first-multiple-books{
    margin-left: auto;
}

.second-multiple-books{
    margin-right: auto;
}



.multiple-books > div{
    display: flex;
    background-color: aquamarine;
    max-width: fit-content;
}

.main-book-style{
    max-width: fit-content;
    text-align: center;
}
.first-main-book{
    margin-right: auto;
}

.second-main-book{
    margin-left: auto;
}

.main-book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.main-book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #656565;
}

.main-book-style > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.first-book-style{
    margin-right: 2rem;
}

.second-book-style{
    margin-left: 2rem;
}

.book-style{
    background-color: plum;
    text-align: center;
}

.book-style > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    color: #222222;
    
}

.book-style > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 0.75rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.book-style > :nth-child(4){
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    margin-top: 0.6rem;
    color: #222222;
}

.book-style > a >img {
    max-width: 6.5rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > a > img {
    max-width: 14rem;
    box-shadow: 0 0.3rem 0.3rem rgb(212, 212, 212);
}

.main-book-style > div > h5 {
    font-family: "Kohinoor Bangla";
    font-size: 1.2rem;
    color: #222222;
    
}

.main-book-style > div > :nth-child(3){
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    color: #A7A7A7;
}

.email {
    min-width: 70%;
    margin-bottom: 3rem;
}

.email > input{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.events{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.events > :first-child{
    margin-right: 9rem;
}

.events > :last-child{
    margin-left: 9rem;
}

/*------------ALL LISTINGS PAGE------------*/

.full-list{
    margin-right: auto;
    margin-left: auto;
}

.book-list{
    margin-right: auto;
    margin-left: auto;
}

.book-list > div{
    margin-bottom: 4rem;
}

.book-list > div > article + article{
    margin-left: 2rem;
}

.book-list > div > .book-style > div > :last-child{
    background-color: #CADED9;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    font-size: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #B0CDC5;
    box-shadow: 0 0.1rem 0.3rem #E7EEEA;
}
.book-style > div{
    display: flex;
    justify-content: space-between;
}

.list-nav{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.list-nav-style{
    text-decoration: underline;
    font-size: 1rem;
    color: #04604b;
    font-family: "Kohinoor Bangla";
}

.breadcrumbs{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.list-pages {
    margin-left: 17rem;
    margin-right: 24rem;
}

.filter{
    margin-right: auto;
}

.list-nav-bottom{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
}


/*------------INDIVIDUAL LISTINGS PAGE------------*/

.individual-breadcrumbs{
    margin-top: 3rem;
    margin-left: 8vw;
}

.book-details{
    display: flex;
    justify-content: center;
}

.main-image{
    max-width: 18rem;
}

.book-text{
    max-width: 38%;
    margin-left: 4rem;
    margin-right: 4rem
}

.book-text > h1{
    font-size: 1.9rem;
    color: #222222;
    font-family: "Kohinoor Bangla";
    font-weight: 500;
}

.book-text > h3{
    font-size: 1.7rem;
    color: #A7A7A7;
    margin-bottom: 3rem;
    font-family: 'PT Serif', serif;
}

.book-text > p{
    font-size: 1.2rem;
    color: #333333;
    font-family: 'PT Serif', serif;
    line-height: 1.5rem;
}

.button-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0.5rem 2.1rem 0.5rem;
    height: fit-content;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    margin-top: auto;
    margin-bottom: auto;
    
}

.button-section > p{
    font-size: 1.5rem;
    color: #333333;
    margin-bottom: 1.8rem;
    text-align: center;
    font-family: "Kohinoor Bangla";
}

.button-section > :nth-child(2){
    margin-bottom: 1rem;

}

.button-style-light{
    background-color: #C4DAD5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #AECCC4;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #04604B;
}

.button-style-dark{
    background-color: #80AFA4;
    padding: 0.8rem 3rem 0.8rem 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.2rem;
    border-color: #7CACA1;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    font-family: "Kohinoor Bangla";
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.location-availability{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.location-availability > div{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;

}

.location-availability > div >:last-child{
    font-size: 1.2rem;
    color: #333333;
    text-align: center;
    font-family: 'PT Serif', serif;

}

.location-availability >:last-child >:last-child{
    color: #A7A7A7;
}

.available-image{
    max-width: 1.2rem;
    margin-right: 0.8rem;
}

/*---------------CART---------------*/

.cart{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.all-cart-items{
    width: 32rem;
    margin-left: auto;
    margin-right: 1rem;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.cart-listing{
    display: flex;
    max-width: fit-content;
    margin: 2rem auto 2rem auto;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.cart-info{
    margin: 0.5rem 11rem 0.5rem 0.5rem;
}

.cart-info > h1{
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #222222;
}

.cart-info > h3{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #A7A7A7;
}


.cart-listing > :last-child{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    flex-shrink: 1;

}

.cart-listing > div > a > img{
    width: 1rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.cart-listing > div > p{
    font-family: "Kohinoor Bangla";
    font-size: 1rem;
    color: #A7A7A7;
}

.cart-image{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: 20%;
}

.item-amount{
    display: flex;
    margin-top: 5rem;
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #04604b;
    border-style: solid;
    border-width: 0.07rem;
    border-color: #04604b;
    width: fit-content;
}

.item-amount > div{
    border-style: none solid none solid;
    border-width: 0.07rem;
    border-color: #04604b;
    padding: 0.2rem 0.6em 0.2rem 0.6rem;
}

.item-amount > a{
    text-decoration: none;
    padding: 0.2rem 0.6em 0.2rem 0.6rem;
}

.cart-buttons{
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0.5rem 2.1rem 0.5rem;
    height: fit-content;
    width: 15rem;
    margin-right: auto;
}

.cart-buttons > a{
    margin: 1rem 1rem 0rem 1rem;
}

.cart-buttons >:nth-child(2){
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-style: none none solid none;
    border-width: 0.1rem;
    border-color: #EFF4F2;
    font-family: "Kohinoor Bangla";
    font-size: 1.1rem;
    color: #04604b;

}

/*------------------CHECKOUT------------------*/

input{
    font-family: 'PT Serif', serif;
    font-size: 0.8rem;
    color: #04604b;
}

.checkout-section > div > .input-text >::placeholder{
    color: #93BAB1;;
}

.label{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    color: #93BAB1;;
    margin-left: 15%;
    margin-top: 1rem;

}

.all-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;

}

.checkout-section{
    width: 40vw;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.checkout-divider{
    height: 2rem;
    box-shadow: 0 0.5rem 0.3rem -0.3rem #E7EEEA;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.checkout-section > div > div > h2{
    margin-left: 8%;
}

.input-text{
    display: flex;
    flex-direction: column;
}

.input-text > input {
    width: 80%;
    margin: 0.1rem 5% 1rem 15%;
    height: 1.8rem;
    box-shadow: inset 0 0.1rem 0.2rem #E7EEEA;
}

.order-summary-checkout{
    width: 16rem;
    margin: 0rem auto 7rem 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.bought-items > div{
    margin: 1rem auto 1rem 1rem;
    min-width: 4rem;
    
}

.order-summary-checkout > :last-child{
    border-style: solid none none none;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    padding: 1rem 1rem 1rem 1rem;
}

.payment-options{
    margin: 2rem 5% 2rem 15%;
    width: 80%;
    box-shadow: inset 0 0.1rem 0.2rem #E7EEEA;
}

.card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



.card-info > :first-child{
    width: 70%;
}

.card-info > :last-child{
    width: 20%;
}

.card-info > input {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.checkout-buttons{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.checkout-buttons > a{
    position: relative;
    top: 3rem;
    height: 1rem
}

.checkout-buttons > :first-child{
    margin-left: auto;
    margin-right: 3rem;
}

.checkout-buttons > :last-child{
    margin-right: auto;
    margin-left: 3rem;
}



/*--------------CHECKOUT COMPLETE--------------*/

.logo-section-no-nav{
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    height: 4.5rem;
    margin-bottom: 4rem;
}

.logo-no-nav{
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    position: relative;
    top: 2rem;

}

.order-summary{
    width: 32rem;
    margin: 4rem auto 7rem auto;
    box-shadow: 0 0.3rem 0.3rem #E7EEEA;
}

.bought-items{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1.2rem auto 1.2rem auto;
}

.bought-items > div > h1{
    font-size: 0.8rem;
    text-align: right;
    font-family: "Kohinoor Bangla";
    color: #222222;
}

.bought-items > div > h3{
    font-size: 0.8rem;
    text-align: right;
}

.bought-items > div > p{
    font-family: "Kohinoor Bangla";
    font-size: 0.8rem;
    color: #222222;
    margin-top: 5.5rem;
    text-align: right;
}

.cart-info{
    margin: 1rem auto 1rem 8rem;
    min-width: 8rem;
}

.bought-items > img {
    margin: 1rem 0rem 1rem auto;
}

.price-summary{
    border-style: solid none none none;
    border-width: 0.1rem;
    border-color: #DDE9E6;
    padding: 1rem 10rem 1rem 10rem;
}

.small-divider{
    height: 2rem;
    width: 100%;
}



.small-heading{
    text-align: center;
    font-size: 1rem;
    background-color: white;
    position: relative;
    top: 1.5rem;
}

/*------------FOOTER------------*/

.footer{
    height: 15rem;
    background-color: #C1D8D3;
    margin-top: 3rem;
    box-shadow: inset 0 0.3rem 0.3rem #93BAB1;
    max-width: 100%;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.footer-nav > ul >li + li{
    margin-top: 1rem;
}

.leftnav{
    text-align: left;
    margin-top: 2rem;
    margin-right: 10rem;
}

.rightnav{
    text-align: right;
    margin-top: 2rem;
    margin-left: 10rem;
}



.footer-divider{
    height: 2.5rem;
    box-shadow: 0 0.3rem 0.3rem #B6D1CB;
    margin-left: auto;
    margin-right: auto;
}

.footer-heading{
    text-align: center;
    font-size: 1.2rem;
    background-color: #C1D8D3;
    position: relative;
    top: 2rem;
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

.media-icons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.facebook{
    width: 3rem;
}

.instagram{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.4rem;
}

.email{
    width: 2.5rem;
    margin-top: 0.2rem;
}

.button {
    display: inline-flex;
    width: 6rem;
    height: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    cursor: pointer;
}

.button:hover{
filter:brightness(85%);

}

.responsive{
    display: flex;
}

/*----------------------MEDIA QUERIES----------------------*/

/* for desktop version*/
@media (min-width: 60em){
    
    .mobile-visible{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

}



/* for mobile version*/

@media (max-width: 60em){
    :root{
        font-size: 16px;

    }

    .mobile-invis {
        display: none;
    }

    .border-invis{
        border-style: none;
    }

    .line-divider{
        height: 4.5rem;
        box-shadow: 0 0.5rem 0.3rem -0.3rem #E7EEEA;
        max-width: 100vw;
    }

    .secondary-navbar{
        position: relative;
        height: 0.1rem;
        top: 0.1rem;
    }
    
    .search-bar{
        width: 100vw;
        height: 7rem;
    }
    
    .search-bar > input{
        width: 70%;
        margin: auto 5% 0rem 5%;
        height: 2rem;
        font-size: 1.2rem;
    }
    
    .search-bar > :first-child{
        width: 5%;
        margin: auto auto 0.5rem 5%;
    }
    
    .search-bar > :last-child{
        width: 4%;
        margin: auto 5% 0.5rem auto;
    }

    .logo-section{
        box-shadow: none;
        height: 6.5rem;
    }

    .dropdown-trigger:hover >.cart-dropdown{
        transform: scale(0);
    }

    .first-main-book{
        display: none;
    }

    .second-main-book{
        display: none;
    }

    .main-navbar{
        height: 5rem;
    }

    .logo{
        min-width: 10rem;
        bottom: 3rem;
    }

    .logo-no-nav{
        min-width: 10rem;
    }

    .secondary-navbar > :first-child > a{
        position: absolute;
        right: 12.5rem;
        bottom: 2.5rem;
        
    }

    .secondary-navbar > :nth-child(2){
        position: absolute;
        left: 9.5rem;
        bottom: 2.5rem;
    }

    .secondary-navbar > :nth-child(4){
        position: absolute;
        left: 12.5rem;
        bottom: 2.5rem;
    }

    .first-book-style{
        margin-right: none;
    }
    
    .second-book-style{
        margin-left: none;
    }

    .multiple-books {
        margin-right: auto;
        margin-left: auto;

    }

    .email {
        min-width: 100%;
        margin-bottom: 3rem;
    }
    
    .email > input{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .events > :first-child{
        margin-right: 1rem;
    }
    
    .events > :last-child{
        margin-left: 1rem;
    }

    .events > div > a > img{
        width: 40vw;
    }



    .button-section{
        display: none;
    }

    .leftnav{
        margin-right: 2rem;
    }
    
    .rightnav{
        margin-left: 2rem;
    }

    /*All listings page*/

    .list-nav > .list-pages {
        visibility: hidden;
    }

    .list-nav > :first-child{
        margin-right: 20vw;
    }

    .list-nav > :last-child{
        margin-left: 20vw;
    }

    .list-nav-bottom{
        height: 3rem;
        white-space: nowrap;
    }

    /*Individual listing*/

    .book-details{
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .main-image{
        width: 40vw;
        margin-left: 8%;
    }

    .book-text{
        margin-left: 12%;
        margin-right: 8%;
    }

    .book-text > h1{
        font-size: 1.1em;
        min-width: fit-content;
        text-align: right;
    }

    .book-text > h3{
        font-size: 1rem;
        text-align: right;
        margin-top: 0.2rem;
    }

    .book-text > p{
        position: absolute;
        font-size: 0.9rem;
        line-height: 01rem;
        top: 45rem;
        right: 5rem;
        width: 80vw;
        max-height: 20rem;
        margin: 0rem 0rem 0rem 8rem;

    }

    .availability{
        margin-top: 15rem;
    }

    .location-availability > div >:last-child{
        font-size: 1rem;
    
    }
    

    .mobile-button-section > p {
        color: #A7A7A7;
        font-size: 1rem;
        text-align: right;
        margin: 8rem 0rem 1rem 20%;
        font-family: "Kohinoor Bangla";
    }

    .mobile-button-section > a{
        font-size: 1rem;
        padding: 0.3rem 1rem 0.3rem 1rem;
        margin-left: 6%;
    }

    /*CART*/

    .cart-image{
        margin: 0.8rem .2rem 0.8em 0.2rem;
        width: 30%;
    }

    .cart-info{
        background-color: paleturquoise;
        margin: 0.5rem 3rem 0.5rem 0.5rem;
    }

    .all-cart-items{
        width: 22rem;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }
        
    .cart-listing{
        width: fit-content;
        margin: 2rem auto 2rem auto;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }

    .order-summary{
        background-color: pink;
        width: 16rem;
        margin: 4rem auto 7rem auto;
        border-style: solid;
        border-width: 0.1rem;
        border-color: #DDE9E6;
        box-shadow: 0 0.3rem 0.3rem #E7EEEA;
    }

    .cart-buttons{
        margin-left: auto;
    }

    .bought-items > div{
        margin-left: 0.1rem;
    }
    
    .price-summary{
        padding: 1rem 1rem 1rem 1rem;
    }

    /* checkout*/

    .checkout-section{
        width: 100vw;
    }

    .checkout-buttons{
        margin-top: 1rem;
      }
      
      .checkout-buttons > a{
          position: relative;
          top: 0rem;
          height: 1rem;
      }
      
      .checkout-buttons > :first-child{
        margin: 1rem auto 1rem auto;
      }
      
      .checkout-buttons > :last-child{
        margin: 1rem auto 1rem auto;
      }
}


@media (max-width: 505px) {
    .book-text > p{
        top: 35rem;
        right: 2rem;
        margin-bottom: 3rem;
    
    }
}    

